@font-face {
    font-family: "porsche";
    src: url("/font/porsche/911porschav3bold.ttf") format("truetype");
}

body{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-family: "porsche";
    text-align: center;
    padding: 5px;
}

.navbar-nav {
    font-family: "porsche";
}