@font-face {
    font-family: "porsche";
    src: url("/font/porsche/911porschav3bold.ttf") format("truetype");
}

body { 
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}



/* NAVBAR */
.navbar-brand{
    font-family: "porsche";
    text-align: center;
    padding: 5px;
}

.navbar-nav {
    font-family: "porsche";
}

/* HEADER */
#header {
    margin-top: 200px;
    margin-bottom: 70px;
}

#header::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#header .video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}


#header .p-heading {
    position: relative;
    font-family: "porsche";
    font-size: 70px;
    text-align: left;
}
#header .p-heading .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
#header .p-heading .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

#header .about-descr .separator {
    font-size: 18px;
    max-width: 90%;
    margin-bottom: 0;
    text-align: left;
}


/* CAROUSEL */
#carouselInterval {
    margin-top: 100px;
    margin-bottom: 50px; 
}

#carouselInterval .carousel-inner {
    border: 10px solid #8c9995;
    border-radius: 10px;
    object-fit: fill;
}

#carouselInterval .about-descr .p-heading {
    font-family: "porsche";
    font-size: 50px;
    text-align: left;
}

#carouselInterval .about-descr .separator {
    font-size: 18px;
    max-width: 80%;
    text-align: left;
}


/* ABOUT */
#about {
    width: 100%;
    height: auto;
    background: #b89e9a;
    padding-top: 100px;
}

#about .div-img-bg {
    margin: 20px;
    border: 10px solid #8c9995;
    border-radius: 20px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
}

#about .div-img-bg .about-img img {
    width: 100%;
    height: 280px;
    object-fit: fill;
    margin: 0;
}

#about .p-heading {
    text-align: center;
    font-family: "porsche";
    font-size: 50px;
}

#about .about-descr .separator {
    font-size: 17px;
    max-width: 80%;
    margin: 50px;
    text-align: left;
}



/* MODELS */
#models {
    width: 100%;
    height: auto;
    background: #978c8f;
    padding-top: 100px;
}

#models .p-heading {
    text-align: center;
    font-family: "porsche";
    font-size: 50px;
}


#models img {
    border: 3px solid #000;
    border-radius: 10px;
    width: 100%;
    height: 400px;
    object-fit: fill;
    margin: 0;
}

#models .card:hover {
        transform: scale(1.02);
        transition: transform 0.3s ease-in-out;
    }

    .card-img-overlay {
        background: rgba(0, 0, 0, 0.3);
        transition: background 0.3s ease-in-out;
    }

    .card:hover .card-img-overlay {
        background: rgba(0, 0, 0, 0.2);
    }

#models .card-title {
    font-family: "porsche";
    font-size: 30px;
}
#models button {
    box-shadow: 0 0 5px rgb(52, 77, 77), 0 0 25px rgb(52, 77, 77),0 0 50px rgb(52, 77, 77);
}
#models button:hover {
    box-shadow: 0 0 5px rgb(166, 168, 168), 0 0 25px rgb(166, 168, 168),0 0 50px rgb(166, 168, 168);
}



/* ALL MODELS */
#carsmodels {
    height: auto;
    background: #fff;
    padding-top: 100px;
}
#carsmodels .p-heading {
    text-align: center;
    font-family: "porsche";
    font-size: 50px;
}
#carsmodels .card-text {
    font-size: 20px;
}


/* ANIMATION SCROLL */
.scroll-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-animation.scrolled {
    opacity: 1;
    transform: translateY(0);
}


/* FOOTER */
#footer {
    background: #1d1d1d !important;
    padding-top: 50px;
    padding-bottom: 30px;
}